/VulkanMemoryAllocator/
/rectpack2D/
/modules/
/includes/
/.xmake/
/_ReSharper.Caches/
/build/
/cmake-build-debug/
/cmake-build-debug-visual-studio/
/cmake-build-debug-visual-studio-event-trace/
/cmake-build-debug-clang/
/.vs/
