[submodule "submodules/VulkanMemoryAllocator"]
	path = submodules/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git

[submodule "submodules/plf_hive"]
	path = submodules/plf_hive
	url = https://github.com/mattreecebentley/plf_hive.git
[submodule "submodules/small_vector"]
	path = submodules/small_vector
	url = https://github.com/gharveymn/small_vector.git
