[submodule "VulkanMemoryAllocator"]
	path = VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "rectpack2D"]
	path = rectpack2D
	url = https://github.com/TeamHypersomnia/rectpack2D
