[submodule "submodules/VulkanMemoryAllocator"]
	path = submodules/VulkanMemoryAllocator
	url = https://github.com/sawickiap/VulkanMemoryAllocator.git

[submodule "submodules/plf_hive"]
	path = submodules/plf_hive
	url = https://github.com/mattreecebentley/plf_hive.git
[submodule "submodules/small_vector"]
	path = submodules/small_vector
	url = https://github.com/gharveymn/small_vector.git
[submodule "submodules/stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb.git
[submodule "submodules/tim_sort"]
	path = submodules/tim_sort
	url = https://github.com/timsort/cpp-TimSort.git
[submodule "submodules/magic_enum"]
	path = submodules/magic_enum
	url = https://github.com/Neargye/magic_enum.git
